<section class="slider-wines">
	<div class="container-fluid">
		<div class="">
			<div class="swiper-slider-wines">
				<div class="grid swiper-wrapper">
					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico blue">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico blue">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_01.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 blue uppercase">
								Pergolaia
							</div>
							<div class="paragraph20 grey">
								Sweet tannins, nice depth
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico red">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico red">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_02.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 red uppercase">
								Caiarossa
							</div>
							<div class="paragraph20 grey">
								Harmonious, complex and profound.
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico yellow">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico yellow">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_03.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 yellow uppercase">
								Caiarossa bianco
							</div>
							<div class="paragraph20 grey">
								Elegant end balanced
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico blue">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico blue">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_01.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 blue uppercase">
								Pergolaia
							</div>
							<div class="paragraph20 grey">
								Sweet tannins, nice depth
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico red">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico red">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_02.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 red uppercase">
								Caiarossa
							</div>
							<div class="paragraph20 grey">
								Harmonious, complex and profound.
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico yellow">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico yellow">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_03.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 yellow uppercase">
								Caiarossa bianco
							</div>
							<div class="paragraph20 grey">
								Elegant end balanced
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico blue">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico blue">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_01.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 blue uppercase">
								Pergolaia
							</div>
							<div class="paragraph20 grey">
								Sweet tannins, nice depth
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico red">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico red">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_02.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 red uppercase">
								Caiarossa
							</div>
							<div class="paragraph20 grey">
								Harmonious, complex and profound.
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico yellow">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico yellow">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_03.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 yellow uppercase">
								Caiarossa bianco
							</div>
							<div class="paragraph20 grey">
								Elegant end balanced
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico red">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico red">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_02.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 red uppercase">
								Caiarossa
							</div>
							<div class="paragraph20 grey">
								Harmonious, complex and profound.
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico yellow">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico yellow">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_03.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 yellow uppercase">
								Caiarossa bianco
							</div>
							<div class="paragraph20 grey">
								Elegant end balanced
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico blue">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico blue">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_01.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 blue uppercase">
								Pergolaia
							</div>
							<div class="paragraph20 grey">
								Sweet tannins, nice depth
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico red">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico red">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_02.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 red uppercase">
								Caiarossa
							</div>
							<div class="paragraph20 grey">
								Harmonious, complex and profound.
							</div>
						</div>
					</div>

					<div class="grid-2 grid-md-2 item swiper-slide">
						<picture>
							<div class="ico yellow">
								{{icon('bg-bottle1')}}
							</div>
							<div class="ico yellow">
								{{icon('bg-bottle2')}}
							</div>
							{{image({ src:  '/assets/img/bottiglia_03.png' , srcset: [769, 1920], alt: 'default' })}}
						</picture>
						<div class="info center">
							<div class="display60 yellow uppercase">
								Caiarossa bianco
							</div>
							<div class="paragraph20 grey">
								Elegant end balanced
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
