<section class="editorial mt-80">
	<div class="container-fluid grid">
		<div class="grid-12 grid-md-5 end-md-6 v-center">
			<div class="text cp-48">
				<div class="title display20">{{ title }}</div>
				<div class="abstract paragraph10">
					{{ abstract }}
				</div>
			</div>
		</div>
		<div class="grid-12 grid-md-2 end-md-10 v-center">
			<div class="img _4-3">
				<picture>
					{{image({ src:  image1 , srcset: [769, 1920], alt: 'default' })}}
				</picture>
			</div>
		</div>
	</div>

	<div class="container-fluid grid mt-64">

		<div class="grid-12 grid-md-5 end-md-6 v-center">
			<div class="img _1-1">
				<picture>
					{{image({ src:  image2 , srcset: [769, 1920], alt: 'default' })}}
				</picture>
			</div>
		</div>
		<div class="grid-12 grid-md-4 end-md-11 v-center">
			<div class="text">
				<div class="abstract paragraph10">
					{{ abstract2 }}
				</div>
			</div>
		</div>
	</div>

</section>
